# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client_secret_32978081012-1nvlnnsmg7vj0nq88ms6pu7387k1h1di.apps.googleusercontent.com.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
